
<div class="container">
   
    <div class="" *ngIf="currentMovie">

        <div class="card bg-dark shadow-sm">
            <img src="https://image.tmdb.org/t/p/original/{{currentMovie.backdrop_path}}" class="card-img" alt="{{currentMovie.original_title}}">
            <div class="card-img-overlay">
              <h5 class="display-3 text-warning card-title fw-bold">{{currentMovie.original_title}}</h5>
              <p class="card-text">{{currentMovie.overview}}</p>
              <p class="card-text"></p>
            </div>
        </div>>

        <div class="card bg-dark mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500/{{currentMovie.poster_path}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="display-3 text-warning card-title fw-bold">{{currentMovie.original_title}}</h5>
                    <p class="card-text fs-4 fw-light text-light lh-sm mt-2">{{currentMovie.overview}}</p>
                    <div class="d-flex justify-content-between bg-warning bg-gradient mt-2">
                        <p class="card-text p-2">Release Date: {{currentMovie.release_date}}</p>
                    </div>
                    <p class="card-text fs-4 fw-light text-light lh-sm mt-2">{{currentMovie.popularity}}</p>

                </div>
              </div>
            </div>
          </div>
       
    </div>

    <div>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col" *ngFor="let actor of credits">
              <div class="card">
                <img src="https://image.tmdb.org/t/p/original/{{actor.profile_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{actor.name}}</h5>
                  <p class="card-text">{{actor.character}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


